.imgWrapper {
  width: 800px;
  
  
}
.img {
  display: block;
  width: 100%;
  margin-top: -250px;
  padding-bottom: 30px;
}
.slider {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  color: black;
  
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: -150px;
  margin-top: 10px;
width: 145px;
}
.buttonWrapper{
  margin-top: 100px;
  
}
